@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,900,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive;
*/

body{
  background:#b2b2b2;
}



#frontend{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /*background: url(../img/fondo.jpg) no-repeat fixed;*/
}
.espacio:after {
    width: 200px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: transparent;
    margin: 0 1%;
}
.borde{
  border: 1px solid red;
}
.borde1{
  border: 1px solid blue;
}

#frontend .nav .open > a, #frontend .nav .open > a:hover, #frontend .nav .open > a:focus {
  background-color: transparent !important;
}

/*----------------- HEADER ---------------------*/
/*----------------------------------------------*/
#frontend .menu-social-header{
  background: black !important;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#frontend .contenedor-menu-social-header{
    
}
#frontend .mn-menu-social-header>li{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
}
#frontend .mn-menu-social-header>li>.no-link{
  font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;    
  padding-top: 3px;
  padding-bottom: 3px;
  color:white;
  background: transparent !important;
  border: 1px solid transparent;
  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
#frontend .mn-menu-social-header>li>.no-link:hover{
  color:white;
  padding-left: 5px;
  padding-right: 5px; 
}
#frontend .mn-menu-social-header>li>a{
  font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 14px;
  
  padding-top: 3px;
  padding-bottom: 3px;
  color:white;
  background: transparent !important;
  border: 1px solid transparent;
  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

#frontend .mn-menu-social-header>li>a:hover{
  color:#27da93;
  background-color: transparent!important;
  border: 1px solid transparent;
}

#frontend .mn-menu-social-header>li.active a{
  color:#27da93;
  background-color: transparent !important;
  border: 1px solid transparent;
}


#frontend .menu-social-header.activo{
  margin-top: -32px !important;
  background-color: white !important;

}

#frontend .mn-menu-social-header.activo{
  background-color: white !important;
  margin-top: -32px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#frontend .mn-menu-social-header>li>a.activo{

  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
 
  padding-top: 5px;
  padding-bottom: 5px;
  color:white;
  background: black !important;
  border: 1px solid black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#frontend .navbar-header-index{
  background-color: transparent !important;
   
}

#frontend .activo.navbar-inmo{
  margin-top: 0px !important;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

#frontend .menu-index{
  margin-top: 20px !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  transition: all 0.2s !important;
}

#frontend .menu-index li a{
  letter-spacing: 2px !important;
  color: white !important;
}
#frontend .menu-index li a:hover{
  color: #27da93 !important;
}
#frontend .logo-index{
  padding: 0 !important;
}
#frontend .logo-index h1{
  font-family: 'Pacifico', cursive !important;
  color: white !important;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  transition: all 0.5s !important;
  font-size: 50px !important;
}
#frontend .logo-index img{
  width: 250px !important;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

#frontend .navbar-inmo{
  border-color:transparent !important;
 /* background-color: transparent !important;*/
  background-color: rgba(0,0,0,.3);
  margin-top: 32px;
  height: 90px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#frontend .navbar-inmo.activo{
  height: 60px;
  background-color: #27da93 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#frontend .activo.logo-index h1{
    font-family: 'Pacifico', cursive;
    font-size: 20px !important;
    color: white;
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#frontend .activo.logo-index img{
  width: 150px !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#frontend .activo.menu-index{
  margin-top: 0px !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#frontend .activo.menu-index li a:hover{
  color: black !important;
}
/*----------------- FIN - HEADER ---------------------*/
/*----------------------------------------------------*/

/*----------------- INDEX ---------------------*/
/*----------------------------------------------------------*/
#frontend .contenido-principal-index{
/*  min-height: 700px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/fondo-index.jpg); 
  background-repeat:no-repeat,no-repeat;
  background-size: cover;*/
  height: 550px;
}


#frontend #content_top {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}

#frontend #content_top #sequence {
  overflow: hidden;
  width: 100%;
  color: white;
  font-size: 15px;
  margin: 0 auto;
  position: relative;
  height: 550px;
}
#frontend #content_top #sequence > .sequence-canvas {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
#frontend #content_top #sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 100%;
  z-index: 1;
  clear: both;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
#frontend #content_top #sequence > .sequence-canvas li > * {
  position: absolute;
  /* only cause the left and opacity properties to transition */

}
#frontend #content_top #sequence .sequence-next,
#frontend #content_top #sequence .sequence-prev {
  text-decoration: none;
  line-height: 0;
  font-size: 0;
  text-indent: -9999px;
  color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 200;
  display: block;
  width: 56px;
  height: 56px;
  filter: contrast(0);
  -webkit-filter: contrast(0);
}
#content_top #sequence .sequence-next {
  right: 20px;
  background: url(../img/slider-next.png);
}
#content_top #sequence .sequence-prev {
  left: 20px;
  background: url(../img/slider-prev.png);
}
#frontend #content_top #sequence .sequence-prev:hover,
#frontend #content_top #sequence .sequence-next:hover {
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
  background-position: 0 -56px;
}
#frontend #content_top #sequence .start_anime {
  position: relative;
  opacity: 0;
  width: 100%;
/*  height: 100%;*/
  margin-top: -25px;
  padding: 0px;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
}
#frontend #content_top #sequence .title {
  top: -100%;
  z-index: 5;
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 10px;
  max-width: 500px;
  display: inline;
  vertical-align: middle;
  transition-property: top;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
#frontend #content_top #sequence .title small {
  display: block;
  color: white;
  font-size: 29px;
}
#frontend #content_top #sequence .description {
  position: absolute;
  left: 20px;
  bottom: -100%;
  max-width: 500px;
  z-index: 5;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  transition-property: bottom;
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  -ms-transition-property: bottom;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
#frontend #content_top #sequence .img_sllider {
  position: absolute;
  right: -100%;
  bottom: 15%;
  transition-property: right;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  -ms-transition-property: right;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
#frontend #content_top #sequence .animate-in .start_anime {
  opacity: 1;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
}
#frontend #content_top #sequence .animate-in .title {
  top: 23%;
  opacity: 1;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
}
#frontend #content_top #sequence .animate-in .description {
  bottom: 25%;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
}
#frontend #content_top #sequence .animate-in .img_sllider {
  right: 20px;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
}
#frontend #content_top #sequence .animate-out .start_anime {
  opacity: 0;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
}
#frontend #content_top #sequence .animate-out .title {
  top: -100%;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
}
#frontend #content_top #sequence .animate-out .description {
  bottom: -100%;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
}
#frontend #content_top #sequence .animate-out .img_sllider {
  right: -100%;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
}
#frontend #content_top #sequence .box_area_slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  /* height: 100%; */
  z-index: 9;
}
#frontend #content_top #sequence .box_area_slider .panel {
  position: relative;
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  background: transparent !important;
}
#frontend #content_top #sequence .bg_slider {
  width: 100%;
  height: 100%;
}


#frontend .titulo-index h3 {
    font-size: 2.5em;
    color: #000;
    margin: 0 0 1em;
    padding-top:1em !important;
    font-family: 'Montserrat';
    text-align: center;
}
#frontend .titulo-index h4{
    font-size: 1.5em;
    font-family: 'Montserrat';
    text-align: center;
}
#frontend .titulo-index h3:after, .titulo-index h3:before {
    width: 200px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;
}
 .contenedor-inm-favoritos{
  background:white; 
  /* background:#27da93;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/back/back5.jpg); 
  background-repeat:no-repeat,no-repeat;
  background-size: cover;*/
  padding-top:20px;
  padding-bottom:80px;
}
#frontend .contenedor-inm-des{
  padding-top: 20px;
}
#frontend .contenedor-rem{
  background:white; 
  /* background:#27da93;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/back/back5.jpg); 
  background-repeat:no-repeat,no-repeat;
  background-size: cover;*/
  padding-top:20px;
  padding-bottom:80px;
}

#frontend .contenedor-inm-ui{
   background:#27da93;
  /*background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/estacion.jpg); 
  background-repeat:no-repeat,no-repeat;
  background-size: cover; */
  padding-top:20px;
  padding-bottom:80px;
}
#frontend .item .thumbnail .mask{
  overflow: hidden;
  display: block;
}
#frontend .item .thumbnail img.zoom-img:hover {
  -webkit-transform: scale(1.15);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#frontend .item .thumbnail img.zoom-img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}


#frontend #owl-demo .propertyItem {
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    box-shadow: 0px 1px 3px #d4d4d4;
    margin:5px 7px 10px 7px;
}

#frontend #products .item .propertyItem {
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    box-shadow: 0px 1px 3px #d4d4d4;
    margin:5px 7px 10px 7px;
}


#frontend #owl-uingresos .propertyItemTwo {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 1px 3px #d4d4d4;
    margin:5px 7px 10px 7px;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#frontend #products .item .propertyItemTwo {
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    box-shadow: 0px 1px 3px #d4d4d4;
    /* margin:5px 7px 10px 7px; */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#frontend .propertyContent { padding:9px; }
#frontend .propertyContent a { color:#2a2a2a; }
#frontend .propertyContent a:hover { color:#4a4786; }

#frontend .propertyContentTwo { 
  padding:0px; overflow:hidden;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#frontend .propertyContentTwo a { color:#2a2a2a; }
#frontend .propertyContentTwo a:hover { color:#4a4786; }
#frontend .propertyContentTwo:hover{
  background-color:rgba(0, 0, 0, 0.9) !important;
}

#frontend .propertyImg {
  max-width:100%;
  margin-bottom:15px;
}
#frontend .propertyImgTwo {
  max-width:100%;
  margin-bottom:0px;
}
#frontend .propertyContentTwo:hover .propertyImgLink .propertyImgTwo{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

#frontend .propertyImgLink {
  -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

#frontend .propertyImgLink:hover { opacity:0.8; }

#frontend .propertyType {
  text-transform:uppercase;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  background-color:#27da93;
  color:white !important;
  padding:7px;
  z-index:1;
}

#frontend .propertyTypeTwo {
  text-decoration:none;
  text-transform:uppercase;
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  top:20px;
  background-color:#27da93;
  color:white !important;
  padding:7px;
  z-index:1;
}
#frontend .propertyTypeTwo i{
  padding-left:10px !important;
  padding-right:10px !important;
}
#frontend .propertyTypeTwo span{
  text-align:center;
  display:block;
}

#frontend .propertyImgCaption{
  display:none;
  position:absolute;
  min-width:100%;
  top:0;
}
#frontend .openHouse {
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size:13px;
  right:7px;
  background-image: url('../images/open-house-bg.png');
  background-repeat:no-repeat;
  padding:19px 13px 15px 15px;
  z-index:1;
}

#frontend .forSale {
  text-transform:uppercase;
  float:left;
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
  /* background-color:#d5d5d5; */
  background-color:#27da93;
  color:white;
  padding:4px 9px 4px 9px;
  border-radius:4px;
  display:inline-block;
}

#frontend .price {
  font-family: 'Open Sans', sans-serif;
  float:right;
  color:#4a4786;
  font-size:23px;
}

#frontend .propertyDetails { 
  background-color:#f8f8f8;
  margin-top:0px; 
  border:1px solid #cacaca;
  width:100%;
  text-align:center;
}

#frontend .propertyDetails td {
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  width:33.6%;
  height:45px;
  border-color:#cacaca;
  color:#ababab;
}

#frontend .pageList { text-align:center; margin-top:20px; }
#frontend .pageList li { display:inline; }
#frontend .pageList li .current { background-color:#4a4786; color:white; font-family: 'Open Sans', sans-serif; }
#frontend .pageList li a {
  color:#a1a1a1;
  padding:4px 10px 4px 10px;
  border-radius:3px;
  background-color:#dcdcdc;
}

#frontend .pageList li a:hover { 
  background-color:#4a4786; 
  color:white; 
  -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

#frontend .masonryRow .col-lg-3 { width:292px; } 
#frontend .masonryRow .col-lg-3.wide { width:583px; }

/** PROPERTIES ROW **/
#frontend .rowText { padding-top:17px; padding-right:33px; }
#frontend .rowText h4 { float:left; font-size:19px; margin-bottom:0px; }
#frontend .rowText .price { float:right; }
#frontend .rowText .forSale { float:right; margin-right:20px; }
/*----------------- FIN - INDEX ---------------------*/
/*----------------------------------------------------------*/



/*----------------- BUSCADOR ---------------------*/
/*----------------------------------------------------------*/
#frontend .contenedor-buscador{ 
    margin-top: -60px;
    position: relative;
    z-index: 10;
    /* background-color:#b2b2b2; */
}

#frontend .buscador{
    background: black;
}
#frontend .form-buscador{
    display: inline-block !important;
    padding-bottom: 30px !important;
    padding-top: 10px !important;
}
#frontend .cont-btn-busc-index{
  margin:0 auto;
  vertical-align:middle;
}
#frontend .cont-btn-busc-index .btn-form-buscar{
    font-family: 'Montserrat', sans-serif;
    background: transparent !important;
    border: 2px solid black;
    color: white;
    padding: 13px 14px !important;
    transition: all 0.3s;
    margin-top:15px;
    vertical-align:middle;
}
#frontend .cont-btn-busc-index .btn-form-buscar:focus{
    outline: none !important;
}

#frontend .cont-btn-busc-index .btn-form-buscar:hover{
    background: white !important;
    border: 2px solid white !important;
    color: black !important;
    transition: all 0.3s;
}

#frontend .bootstrap-select>.btn {
	background: #fff;
	padding: 9px !important;
	margin: 0 !important;
	border: 1px solid #dddddd !important;
	display: inline-block !important;
	width: 100% !important;
	height: 39px !important;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 12px !important; 
	color: #9c9c9c !important;
	font-weight: normal !important;
}
#frontend .form-buscador .form-input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: transparent;
 /*  border: 3px solid #bfbfbf; */
  border: 3px solid white;
  border-radius: 0px;
  padding: 12px 16px;
  min-width: 100%;
}
#frontend .form-buscador .form-input::-webkit-input-placeholder {
  color: white;
}
#frontend .form-buscador .form-input:focus::-webkit-input-placeholder {
   color: #252525;
}

#frontend .form-buscador .form-input:-moz-placeholder{
  color: white; 
} /* Firefox 18- */
#frontend .form-buscador .form-input:focus:-moz-placeholder { /* Firefox 18- */
   color: #252525; 
}
#frontend .form-buscador .form-input::-moz-placeholder{
  color: white;
}  /* Firefox 19+ */
#frontend .form-buscador .form-input:focus::-moz-placeholder {  /* Firefox 19+ */
  color: #252525; 
}
#frontend .form-buscador .form-input:-ms-input-placeholder{
  color: white;
}
#frontend .form-buscador .form-input:focus:-ms-input-placeholder {  
  color: #252525;   
}
#frontend .form-buscador .form-select select{
  color:white;
}
#frontend .form-buscador .form-select select:focus option{
  border: 2px solid #27da93 !important;
}
#frontend .form-buscador .form-select select option{
  color:black;
  background:white;
}
#frontend .form-buscador .form-select select option:hover{
  background:#27da93 !important;
}
#frontend .form-buscador .form-input:focus {
  border-color: #27da93 !important;
  box-shadow:none !important;
  color:white;
}
#frontend .form-buscador .help-block{
  position:absolute;
  top:0px;
  color:white;
/*   background:#27da93; */
  padding:5px;
}
/*----------------- FIN - BUSCADOR ---------------------*/
/*----------------------------------------------------------*/

/*----------------- MENSAJE ---------------------*/
/*----------------------------------------------------------*/

#frontend .bigMessage {
    position:relative;
    background: #b2b2b2;
    padding: 70px 0px 70px 0px;
    z-index: 1000 !important;
}
#frontend .bigMessage h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-transform:uppercase;
    font-family: 'Montserrat';
    color:white;
    margin: 0px;
}
#frontend .bigMessage p {
    font-size: 1em;
    color:white;
    font-family: 'Montserrat';
    text-transform:uppercase;
    text-align: center;
    margin: 0 0 10px;
}

/*----------------- FIN - MENSAJE ---------------------*/
/*----------------------------------------------------------*/

/*----------------- TESTIMONIOS ---------------------*/
/*----------------------------------------------------------*/

#frontend .contenedor-testimonios{
  padding-top:20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/back/back1.jpg) fixed; 
  background-repeat:no-repeat,no-repeat;
  background-size: cover;
  /* background:white; */
}

#frontend .cont-contenido-test{
  padding-top:30px;
  padding-bottom: 120px;
}
#frontend .cont-contenido-test .container{
  width:80%;
}
#frontend .inverso h3{
  color:white;
}
#frontend .inverso h4{
  color:white;
}

#frontend .inverso h3:after,#frontend .inverso h3:before {
    width: 200px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #fff;
    margin: 0 1%;
}
#frontend .cont-contenido-test .media .media-body{
  padding-left: 20px;
  padding-right: 20px;
}
#frontend .cont-contenido-test .media .media-body h6{
  font-size: 20px;
  color:white;
}

/*----------------- FIN - TESTIMONIOS ---------------------*/
/*----------------------------------------------------------*/

/*----------------- FRASE 2 ---------------------*/
/*----------------------------------------------------------*/

#frontend .contenedor-frase-contacto{
  background:#b2b2b2;
}

#frontend .img-frase-b{
  min-height:150px;
}
#frontend .img-frase-b img{
  position:absolute;
  bottom: 0px;
  width:350px;
}

#frontend .texto-frase-b{
  padding:20px;
  font-family: 'Montserrat';
  text-transform:uppercase;

  min-height:150px;
}
#frontend .texto-frase-b h3{
  margin-top:10px;
  font-size:2em !important;
}
#frontend .btn-frase-b{
  min-height:150px;
  text-align:center;
}
#frontend .btn-frase-b a{
  font-size:20px;
  padding-right:40px;
  padding-left:40px;
  padding-top:15px;
  padding-bottom:15px;
  border:2px solid;
  background:transparent !important;
  font-family: 'Montserrat';
  text-transform:uppercase;
  margin-top:40px;
}
#frontend .btn-frase-b a:hover{
  color:white;
  border:2px solid #333333;
  background:#333333 !important;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*----------------- FIN - FRASE 2 ---------------------*/
/*----------------------------------------------------------*/

/*----------------- FOOTER ---------------------*/
/*----------------------------------------------------------*/
#frontend footer{
    background:#141414;
    padding-top: 40px;
}

#frontend #footerwrap{ 
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    background: rgba(0,0,0,1);
}
#frontend #footerwrap h4 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

#frontend .amet-sed h4{
  font-size: 1.5em;
    color: #27da93;
  margin: 0 0 0.7em;
  font-family: 'Montserrat';
}
#frontend .footer-top-at {
    padding: 5em 0;
}
#frontend  ul.nav-bottom{
  padding-left: 0px;
}
#frontend  ul.nav-bottom li{
  list-style:none;
}
#frontend ul.nav-bottom li a{
  text-decoration:none;
  color:#989696;
  font-size:0.8em;
  display: inline-block;
  margin: 0.5em 0;
}
#frontend ul.nav-bottom li a:hover{
  color:#27da93;
}
#frontend .amet-sed p{
  color:#989696;
  font-size: 0.9em;
  margin: 0.5em 0 0;
}

#frontend ul.social{
  padding: 1em 0 0;
}
#frontend ul.social li{
  display:inline-block;
}
#frontend ul.social  li a{
  text-decoration:none;
  color:white;
}
#frontend ul.social  li a:hover{  
  color:#27da93;
}
#frontend ul.social  li i{
  font-size:20px;
  display: block;
  margin: 0 5px;
}


/*----------------- FIN - FOOTER ---------------------*/
/*----------------------------------------------------------*/

/* -- FADE CAROUSEL --*/

#frontend .carousel-fade .carousel-inner .item {
  opacity: 0 ;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
#frontend .carousel-fade .carousel-inner .active {
  opacity: 1;
}
#frontend .carousel-fade .carousel-inner .active.left,
#frontend .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#frontend .carousel-fade .carousel-inner .next.left,
#frontend .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#frontend .carousel-fade .carousel-control {
  z-index: 2;
}



/*----------------- CONTACTO ---------------------*/
/*----------------------------------------------------------*/
#frontend .contenedor-img-contacto{ 
    position:relative;
    background: url(../img/titulo-inmo-cm.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 350px;

}

#frontend .contenedor-img-contacto h1{
  position:absolute;
  left:8%;
  bottom:20%;
  color:white;
  text-transform:uppercase;
  font-size:50px;
  outline: 4px solid white;
  padding:15px;
}
#frontend .contenido-contacto{
  background:#e3e2db;
}

#frontend .cont-info-contrato .c-menu-item{
  padding-top:40px;
  padding-bottom: 20px;
}
#frontend .cont-info-contrato .c-menu-item .s-menu-item{
  margin-top:20px;
}
#frontend .cont-info-contrato .c-menu-item .s-menu-item i {
  font-size:50px;
  color:#27da93;
}

#frontend .cont-texto-contrato{
  padding:20px; 
  
}


#frontend .cont-texto-contrato h3{
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align:center;
  color:#27da93;
  padding-top:20px; 
  padding-bottom: 20px; 
  border: 4px solid #27da93;
   text-shadow: 1px 0 1px #4a525d; 
}
#frontend .cont-map{
/*   background-color:#b2b2b2; */
  background-color:#4a525d;
}
#frontend .cont-map .row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#frontend .cont-map .row .cont-mapa-contacto{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#frontend .cont-form-contacto{
  padding:30px 50px;
/*   background-color:#b2b2b2; */
  background-color:#4a525d;
}
#frontend #map_contacto{
  width:100%;
  height:680px;
}
#frontend .solicitud-form .form-input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #4a525d;
 /*  border: 3px solid #bfbfbf; */
  border: 3px solid white;
  border-radius: 0px;
  padding: 12px 16px;
  min-width: 100%;
  color:white;
}

#frontend .solicitud-form .form-input::-webkit-input-placeholder {
  color: white;
}
#frontend .solicitud-form .form-input:focus::-webkit-input-placeholder {
   color: #252525;
}

#frontend .solicitud-form .form-input:-moz-placeholder{
  color: white; 
} /* Firefox 18- */
#frontend .solicitud-form .form-input:focus:-moz-placeholder { /* Firefox 18- */
   color: #252525; 
}
#frontend .solicitud-form .form-input::-moz-placeholder{
  color: white;
}  /* Firefox 19+ */
#frontend .solicitud-form .form-input:focus::-moz-placeholder {  /* Firefox 19+ */
  color: #252525; 
}
#frontend .solicitud-form .form-input:-ms-input-placeholder{
  color: white;
}
#frontend .solicitud-form .form-input:focus:-ms-input-placeholder {  
  color: #252525;   
}
#frontend .solicitud-form .form-select select{
  color:white;
}
#frontend .solicitud-form .form-select select:focus option{
  border: 2px solid #27da93 !important;
}
#frontend .solicitud-form .form-select select option{
  color:black;
  background:white;
}
#frontend .solicitud-form .form-select select option:hover{
  background:#27da93 !important;
}
#frontend .solicitud-form .form-input:focus {
  border-color: #27da93 !important;
  box-shadow:none !important;
}

#frontend .btn-busc-cont{
    font-family: 'Montserrat', sans-serif;
    background: transparent !important;
    border: 2px solid black;
    color: black;
    padding: 10px 25px !important;
    transition: all 0.3s;
}
#frontend .btn-busc-cont:focus{
    outline: none !important;
}
#frontend .btn-busc-cont:hover{
    background: black !important;
    border: 2px solid black !important;
    color: white !important;
    transition: all 0.3s;
}
#frontend .cont-btn-form{
  padding-top:15px;
}
#frontend .texto-success-contacto{
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
}
/*----------------- FIN - CONTACTO ---------------------*/
/*----------------------------------------------------------*/

/*----------------- EMPRESA ---------------------*/
/*----------------------------------------------------------*/
#frontend .contenedor-img-empresa{ 
    position:relative;
    background: url(../img/titulo-inmo-bm.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 350px;
}
#frontend .contenedor-img-empresa h1{
  position:absolute;
  left:8%;
  bottom:20%;
  color:white;
  text-transform:uppercase;
  font-size:50px;
  outline: 4px solid white;
  padding:15px;
}


#frontend .contenido-empresa{
  background:#e3e2db;
    
}
#frontend .cnt-quienessomos{}
#frontend .cnt-quienessomos img{
  width:500px;
}
#frontend .cnt-texto-sobrenos{
  padding-top:40px;
  padding-bottom: 40px;
}
#frontend .cnt-texto-sobrenos .titulo-index h3:after, #frontend .cnt-texto-sobrenos .titulo-index h3:before {
    width: 100px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;
}
#frontend .cnt-texto-sobrenos p{
  padding-top:10px;
  letter-spacing:1px;
  font-size:16px;
}

#frontend .agent-listing-post {
  padding-top:30px;
}
#frontend .agent-common-styles {
  padding: 35px 35px 30px;
}
#frontend .agent-common-styles .inner-wrapper {

}
#frontend .agent-common-styles p {
  padding-top: 30px;
  padding-bottom: 30px;
  color:white;
  font-size:18px;
}
#frontend .agent-image {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
#frontend .agent-image-b {
  float: right;
  margin-left: 20px;
  border-radius: 50%;
}
#frontend .agent-image:hover img,#frontend .agent-image-b:hover img {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#frontend .agent-image img,#frontend .agent-image-b img {
  width: 110px;
  height: 110px;
  border: 3px solid #27da93;
}
#frontend .agent-name {
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 19px;
}

#frontend .agent-name a {
  color:#27da93;
}
#frontend .agent-name span {
  display: block;
  font-size: 15px;
  color:white;
}
#frontend .agent-social-profiles a {
  margin-right: 10px;
  font-size: 18px;
  color:#27da93;
}
#frontend .contenido-empresa-equipo{
  background:#4a525d;
}
#frontend .cnt-equipo{
  padding-top:60px;
  padding-bottom:60px;
}
/*----------------- FIN - EMPRESA ---------------------*/
/*----------------------------------------------------------*/

/*----------------- DETALLE INMUEBLE ---------------------*/
/*----------------------------------------------------------*/
#frontend .contenedor-img-detalle{ 
    position:relative;
    background: url(../img/titulo-inmo-bm.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 350px;
}
#frontend .contenedor-img-detalle h1{
  position:absolute;
  left:8%;
  bottom:20%;
  color:white;
  text-transform:uppercase;
  font-size:50px;
  outline: 4px solid white;
  padding:15px;
}
#frontend .cont-map-detalle{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#frontend #map_detalle{
  width:100%;
  height:400px;
}
#frontend .cont-map-detalleremate{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#frontend #map_detalleremate{
  width:100%;
  height:400px;
}
/*----------------- FIN - DETALLE INMUEBLE ---------------------*/
/*----------------------------------------------------------*/

/*----------------- SERVICIOS ---------------------*/
/*----------------------------------------------------------*/
#frontend .contenedor-img-servicios{ 
    position:relative;
    background: url(../img/titulo-inmo-dm.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 350px;

}

#frontend .contenedor-img-servicios h1{
  position:absolute;
  left:8%;
  bottom:20%;
  color:white;
  text-transform:uppercase;
  font-size:50px;
  outline: 4px solid white;
  padding:15px;
}

#frontend .contenido-servicios{
  background:#e3e2db;
}


#frontend .margin-top-30 {
    margin-top: 30px!important;
}
#frontend .margin-bottom-30 {
    margin-bottom: 30px!important;
}

#frontend .well-link .homepage-well:hover .well-image-container{
  opacity: 1;
  -webkit-filter: brightness(0.6) blur(1px);
  filter: brightness(0.6) blur(1px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

}

#frontend .homepage-well {
  background: none repeat #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#frontend .homepage-well-link {
    text-align: center;
    background-color: #666;
}

#frontend .homepage-well-link a {
    font-family: AvenirLTStd-Heavy,Arial,sans-serif;
    color: #27da93;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    line-height: 60px;
}

#frontend .well-image-container img{
  display: block;
  max-width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#frontend .homepage-well h3{
  position: absolute;
  padding: 8px;
  color: #fff;
  background:#27da93;
  top:20px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#frontend .well-link .homepage-well:hover h3{
  position: absolute;
  padding: 8px;
  color: #fff;
  background:#27da93;
  top:0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

}

#frontend .homepage-well .well-desc{
  opacity:0;
  display:block;
  position: absolute;
  padding:10px;
  width:92%;
  top:80px;
  font-style:italic;
  color:white;
  font-size:16px;
  text-align:center;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#frontend .homepage-well:hover .well-desc{
  opacity:1;
  display:block;
  position: absolute;
  padding:10px;
  width:92%;
  top:80px;
  font-style:italic;
  color:white;
  font-size:16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/*----------------- FIN - SERVICIOS ---------------------*/
/*----------------------------------------------------------*/


/*----------------- VENTAS ---------------------*/
/*----------------------------------------------------------*/

#frontend .contenedor-contenido-ventas{
  background:#e3e2db;
}

#frontend .buscador-ventas{
  background:#4a525d;
}

#frontend .botones-buscador{
  position:absolute;
  top:-43px;
}
#frontend .botones-buscador a{
  border: 2px solid black;
  padding:10px 12px;
  background:black;
  color:white;
  text-decoration:none;
}

#frontend .botones-buscador a:hover,#frontend .botones-buscador a:focus,#frontend .botones-buscador .active,#frontend .botones-buscador .active:focus{
  border-color:white;
  background:transparent;
  color:white;
}

#frontend .botones-buscador a span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-left:10px;
  text-transform:uppercase;
}

#frontend .ventas-form{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

#frontend .buscador-ventas .form-input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #4a525d;
 /*  border: 3px solid #bfbfbf; */
  border: 3px solid white;
  border-radius: 0px;
  padding: 12px 16px;
  min-width: 100%;
}

#frontend .buscador-ventas .form-input::-webkit-input-placeholder {
  color: white;
}
#frontend .buscador-ventas .form-input:focus::-webkit-input-placeholder {
   color: #252525;
}

#frontend .buscador-ventas .form-input:-moz-placeholder{
  color: white; 
} /* Firefox 18- */
#frontend .buscador-ventas .form-input:focus:-moz-placeholder { /* Firefox 18- */
   color: #252525; 
}
#frontend .buscador-ventas .form-input::-moz-placeholder{
  color: white;
}  /* Firefox 19+ */
#frontend .buscador-ventas .form-input:focus::-moz-placeholder {  /* Firefox 19+ */
  color: #252525; 
}
#frontend .buscador-ventas .form-input:-ms-input-placeholder{
  color: white;
}
#frontend .buscador-ventas .form-input:focus:-ms-input-placeholder {  
  color: #252525;   
}
#frontend .buscador-ventas .form-select select{
  color:white;
}
#frontend .buscador-ventas .form-select select:focus option{
  border: 2px solid #27da93 !important;
}
#frontend .buscador-ventas .form-select select option{
  color:black;
  background:white;
}
#frontend .buscador-ventas .form-select select option:hover{
  background:#27da93 !important;
}
#frontend .buscador-ventas .form-input:focus {
  border-color: #27da93 !important;
  box-shadow:none !important;
}

#frontend .btn-busc-lat{
    font-family: 'Montserrat', sans-serif;
    background: transparent !important;
    border: 2px solid black;
    color: black;
    padding: 10px 25px !important;
    transition: all 0.3s;
}
#frontend .btn-busc-lat:focus{
    outline: none !important;
}

#frontend .btn-busc-lat:hover{
    background: black !important;
    border: 2px solid black !important;
    color: white !important;
    transition: all 0.3s;
}

#frontend .cont-btn-form{
  padding-top:15px;

}
/*----------------- FIN - VENTAS ---------------------*/
/*----------------------------------------------------------*/

/*----------------- DETALLE ---------------------*/
/*----------------------------------------------------------*/

#frontend .contenido-detalle{
  background:#e3e2db;
}

#frontend .titulo-detalle{
/*   width:100%; */
  display:block;

  background:#4a525d;
  /* background:#27da93; */
  padding: 10px 15px;
  margin-left:-15px;
  margin-top:10px;
}

#frontend .titulo-detalle:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    border-top: 5px solid #00887c;
    width: 8px;
    content: " ";
    display: block;
    border-left: 8px solid #f6f6f6;
}

#frontend .titulo-detalle h1{
  margin-top: 10px !important;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size:30px;
}
#frontend .titulo-detalle small {
    display: block;
    font-style: italic;
    color: #27da93;
    font-size: 12pt;
    margin-top: 4px;
}

#frontend .titulo-detalle-bis h1{
  display: block;
  margin-top: 10px !important;
  color:#4a525d;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size:34px;
}

#frontend .titulo-detalle-bis h1:after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    margin: 3px 0 0 2px;
    background-color: #27da93;
}

#frontend .propertyDetailsb { 
  background-color:#f8f8f8;
  margin-top:0px; 
  border:1px solid #cacaca;
  width:100%;
  text-align:center;
}

#frontend .propertyDetailsb td {
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  width:20%;
  height:45px;
  border-color:#cacaca;
  color:#ababab;
}
#frontend .propertyDetailsb td i{
  margin-right: 0px !important;
  margin-top: 20px !important;
  color:#27da93;
  display:block;
}
#frontend .propertyDetailsb td .fa{
  margin-top: 25px !important;
  font-size:30px;
}
#frontend .propertyDetailsb td hr{
  margin-top: 0px !important; 
  margin-bottom: 5px !important;
}
#frontend .propertyDetailsb td .t_icon{
  padding-bottom:0px !important;
  font-weight:300;
  font-size: 14px;
}
#frontend .propertyDetailsb td span{
  display:block;
  padding-top:5px !important;
  padding-bottom:5px !important;
  font-weight:bold;
  font-size: 18px;
}
/*
'Casa','Apartamento','Local','Terreno','Oficina'
*/

#frontend .propertyDetailsb td .flaticon-stairs-1:before,
#frontend .propertyDetailsb td .flaticon-technology:before,
#frontend .propertyDetailsb td .flaticon-rest:before,
#frontend .propertyDetailsb td .flaticon-bathroom:before,
#frontend .propertyDetailsb td .flaticon-bedroom-black-closed-closet-for-clothes:before,
#frontend .propertyDetailsb td .flaticon-plant-on-a-hand:before,
#frontend .propertyDetailsb td .flaticon-grill:before,
#frontend .propertyDetailsb td .flaticon-car-in-garage:before,
#frontend .propertyDetailsb td .flaticon-give-money:before{
  font-size: 30px !important;
  color: #27da93;
}


#frontend .descrip-detalle{
  line-height: 23px;
  font-size: 16px;
  letter-spacing:1px;
  padding-top:30px;
  padding-bottom:40px;
}

#frontend .gallery{
  /* padding-top:180px; */
}
#frontend .gallery #bx-pager {
    text-align: center;
    background-color: transparent;
    padding: 10px;
}
#frontend .bx-wrapper {
    margin: 0px !important;
}
#frontend .gallery #bx-pager a.active img {
    opacity: 1.0;
}
#frontend .gallery #bx-pager a img {
    opacity: 0.6;
    width:120px;
}
#frontend .bx-wrapper img{
  width:710px !important;
}

#frontend .gallery .bx-wrapper .bx-viewport{
  height:auto !important;
}

#frontend .property-amenities-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#frontend .property-amenities-list>li {
  margin: 10px 5px;
}
#frontend .property-amenities-list>li i{
  margin-right: 8px;
}

#frontend .property-amenities-list>li.enabled {
  color: #df4a43;
}

#frontend .property-amenities-list>li.disabled {
  color: #adb2b6;
}


#frontend .cont-buscador-ventas-detalle{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#frontend .cont-buscador-ventas-detalle .buscador-ventas-detalle{
  padding-left: 15px !important;
  padding-right: 15px !important;
  background:#4a525d;
}

#frontend .buscador-ventas-detalle .form-input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #4a525d;
 /*  border: 3px solid #bfbfbf; */
  border: 3px solid white;
  border-radius: 0px;
  padding: 12px 16px;
  min-width: 100%;
}

#frontend .buscador-ventas-detalle .form-input::-webkit-input-placeholder {
  color: white;
}
#frontend .buscador-ventas-detalle .form-input:focus::-webkit-input-placeholder {
   color: #252525;
}

#frontend .buscador-ventas-detalle .form-input:-moz-placeholder{
  color: white; 
} /* Firefox 18- */
#frontend .buscador-ventas-detalle .form-input:focus:-moz-placeholder { /* Firefox 18- */
   color: #252525; 
}
#frontend .buscador-ventas-detalle .form-input::-moz-placeholder{
  color: white;
}  /* Firefox 19+ */
#frontend .buscador-ventas-detalle .form-input:focus::-moz-placeholder {  /* Firefox 19+ */
  color: #252525; 
}
#frontend .buscador-ventas-detalle .form-input:-ms-input-placeholder{
  color: white;
}
#frontend .buscador-ventas-detalle .form-input:focus:-ms-input-placeholder {  
  color: #252525;   
}
#frontend .buscador-ventas-detalle .form-select select{
  color:white;
}
#frontend .buscador-ventas-detalle .form-select select:focus option{
  border: 2px solid #27da93 !important;
}
#frontend .buscador-ventas-detalle .form-select select option{
  color:black;
  background:white;
}
#frontend .buscador-ventas-detalle .form-select select option:hover{
  background:#27da93 !important;
}
#frontend .buscador-ventas-detalle .form-input:focus {
  border-color: #27da93 !important;
  box-shadow:none !important;
}


#frontend .cont-buscador-ventas-detalle .caracteristicas-detalle{
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:20px;
  background:#27da93;
}


#frontend .property-topinfo {
  width: 100%;
  text-align: left;
  margin: 0px;
  background:#27da93;
  clear: both;
}

#frontend .property-topinfo .amenities {
  list-style: none;
  padding: 8px 0;
  background-color: #fff;
}
#frontend .property-topinfo .amenities,#frontend .property-topinfo .amenities li {
  display: inline-block;
  margin: 0;
  border-right: 1px solid #E4E4E4;
}

#frontend .property-topinfo .amenities li {
    height: 38px;
    padding: 10px 18px 0;
    color: #4a525d;
}

#frontend .property-topinfo .amenities li i{
    color: #4a525d;
    float: left;
    font-size: 18px;
    margin-right: 3px;
    margin-top: -3px;
}

#frontend .property-topinfo #property-id {
    float: right;
    line-height: 54px;
    margin-right: 20px;
    font-weight:700;
    color:white;
    font-size:22px;
}
#frontend .btn-print{
  position: absolute;
  display: inline-block !important;
  text-align: right;
  float: right;
  top: 40px;
  right: 30px;

  background:transparent !important;
  border-color:#27da93 !important;
  color:#27da93 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#frontend .btn-print:hover{
  background:#27da93 !important;
  border-color:#27da93 !important;
  color:white !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/*----------------- FIN - DETALLE ---------------------*/
/*----------------------------------------------------------*/

/*----------------- BREADCRUMBS ---------------------*/
/*----------------------------------------------------------*/

#frontend .cont-breadcrumbs .breadcrumb{
  position:absolute;
  right:0;
  top:200px;
  z-index:100;
  width:20% !important;
  background: rgba(74, 82, 93, 0.8) !important;
  border-radius:0;
}

#frontend .cont-breadcrumbs .breadcrumb li a,#frontend .cont-breadcrumbs .breadcrumb li.active{
  color:white;
  font-size:18px !important;
}

#frontend .cont-breadcrumbs .breadcrumb > li + li:before {
    color: white;
}

/*----------------- FIN - BREADCRUMBS ---------------------*/
/*----------------------------------------------------------*/

/*----------------- FLATICON ---------------------*/
/*----------------------------------------------------------*/
.flaticon-bathroom:before { content: "\f100"; }
.flaticon-bathtub:before { content: "\f101"; }
.flaticon-bathtub-with-opened-shower:before { content: "\f102"; }
.flaticon-bed:before { content: "\f103"; }
.flaticon-bedroom-black-closed-closet-for-clothes:before { content: "\f104"; }
.flaticon-buildings:before { content: "\f105"; }
.flaticon-car-in-garage:before { content: "\f106"; }
.flaticon-direction:before { content: "\f107"; }
.flaticon-food:before { content: "\f108"; }
.flaticon-garage:before { content: "\f109"; }
.flaticon-give-money:before { content: "\f10a"; }
.flaticon-grill:before { content: "\f10b"; }
.flaticon-home:before { content: "\f10c"; }
.flaticon-home-1:before { content: "\f10d"; }
.flaticon-hotel:before { content: "\f10e"; }
.flaticon-house-front-of-three-floors:before { content: "\f10f"; }
.flaticon-house-with-a-signal-with-dollar-symbol:before { content: "\f110"; }
.flaticon-leaves:before { content: "\f111"; }
.flaticon-money:before { content: "\f112"; }
.flaticon-plant-on-a-hand:before { content: "\f113"; }
.flaticon-rest:before { content: "\f114"; }
.flaticon-shovel-and-ground:before { content: "\f115"; }
.flaticon-silhouette:before { content: "\f116"; }
.flaticon-stairs:before { content: "\f117"; }
.flaticon-stairs-1:before { content: "\f118"; }
.flaticon-technology:before { content: "\f119"; }
.flaticon-three-buildings:before { content: "\f11a"; }
.flaticon-toilet:before { content: "\f11b"; }
.flaticon-trade-center:before { content: "\f11c"; }
